In [26]:
import pandas as pd
import math

In [21]:
haha = pd.read_csv("code_test.csv")

In [22]:
hehe = haha.filter(['description', 'directory'], axis=1).copy()

In [23]:
haha = haha.drop(haha.columns[-3:], axis=1)

In [24]:
haha

            lv1               lv2  lv3     lv4  lv5  lv6  lv7  lv8  lv9  lv10
0          Bond         Cash Bond  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
1          Bond               UST  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
2          Bond  Convertible Bond  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
3   Cash Equity                CN  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
4   Cash Equity                JP  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
5   Cash Equity                HK  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
6          Swap               IRS  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
7          Swap               TRS  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
8          Swap               CDS  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
9          Swap             CFDXX  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN
10         Swap               CFD   CN      GS  NaN  NaN  NaN  NaN  NaN   NaN
11         Swap               CFD   HK  NOMURA  NaN  NaN  NaN  NaN  NaN   NaN
12         Swap               CFD   HK  NOMURA  NaN  NaN  NaN  NaN  NaN   NaN
13       Others               RTL  NaN     NaN  NaN  NaN  NaN  NaN  NaN   NaN

In [27]:
math.isnan(haha.iloc[0, 2])

True